
/* .atur_table tr td{
	text-align: center;
} */
table{
    margin-left: auto;
    margin-right: auto;
	text-align: center;

}
td{
    width: 150px;
	
}
tr{
    height: 50px;
	
}

.judul_barang td{
    background: #13202f;
    color: #ffffff;

}
.table_isi td{
    background: #08085e;
    color: #fff;
}


.button1 a{
	height: 13px;
    background: #d40000;
	color: #fff;
	padding: 5px;
	text-decoration: none;
	border-radius: 5px;
	font-size: 20px;
}
.button2 a{
	height: 13px;
    background: #00ff15;
	color: #ff0000;
	padding: 4px;
	text-decoration: none;
	border-radius: 5px;
	font-size: 20px;
}

.button1 a:hover {
	background: #ffffff;
	color: #000;
	font-family: Open Sans;

}

.button2 a:hover {
	background: #ffffff;
	color: #000;
	font-family: Open Sans;

}

.button_pengguna i{
    background: #ffffff;
	color: #000000;
	padding: 4px;
	text-decoration: none;
	border-radius: 3px;
	font-size: 20px;
}

.button_pengguna a{
    background: #00ff15;
	color: #fff;
	padding: 4.5px;
	text-decoration: none;
	border-radius: 3px;
	font-size: 20px;
	font-family: Open Sans;

}

.button_pengguna a:hover {
	background: #00729D;
	color: #000;
	font-family: Open Sans;

}

.input_barang{
	background-color: rgb(255, 255, 255);
	width: 400px;
	padding: 12px;
	height: auto;
	margin-top: 80px;
	margin-left: auto;
    margin-right: auto;
	
	text-align: center;
	border-radius: 30px;
	/* box-shadow: 0 0 20px 0 rgba(0, 0, 0, 1.2), 0 5px 5px 0 rgba(0, 0, 0, 1.24); */
	border: 2px solid rgb(255, 0, 0);
	font-family: Open Sans;
}

.input_barang{
	background-color: #ffffff;
}


.ubah_barang{
	background-color: rgb(255, 255, 255);
	width: 400px;
	padding: 12px;
	height: auto;
	margin-top: 80px;
	margin-left: auto;
    margin-right: auto;
	
	text-align: center;
	border-radius: 30px;
	/* box-shadow: 0 0 20px 0 rgba(0, 0, 0, 1.2), 0 5px 5px 0 rgba(0, 0, 0, 1.24); */
	border: 2px solid rgb(255, 0, 0);
	font-family: Open Sans;
}

.ubah_barang{
	background-color: #ffffff;
}

.tambah_pengguna{
	background-color: rgb(255, 255, 255);
	width: 450px;
	padding: 12px;
	height: auto;
	margin-top: 80px;
	margin-left: auto;
    margin-right: auto;
	
	text-align: center;
	border-radius: 30px;
	/* box-shadow: 0 0 20px 0 rgba(0, 0, 0, 1.2), 0 5px 5px 0 rgba(0, 0, 0, 1.24); */
	border: 2px solid rgb(255, 0, 0);
	font-family: Open Sans;
}

.tambah_pengguna{
	background-color: #ffffff;
}


.ubah_pengguna{
	background-color: rgb(255, 255, 255);
	width: 450px;
	padding: 12px;
	height: auto;
	margin-top: 80px;
	margin-left: auto;
    margin-right: auto;
	
	text-align: center;
	border-radius: 30px;
	/* box-shadow: 0 0 20px 0 rgba(0, 0, 0, 1.2), 0 5px 5px 0 rgba(0, 0, 0, 1.24); */
	border: 2px solid rgb(255, 0, 0);
	font-family: Open Sans;
}

.ubah_pengguna{
	background-color: #ffffff;
}
